.ingreso{
    background-image: url('../images/Ingreso.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;

    .login{
        height: 100vh;
        width: 550px;
        background: rgba(0, 0, 0, 0.82);
        background-size:contain;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;

        .logo{
            display: flex;
            width: 100%;
            max-height: 108px;

            img{
                width: 263.1px;
                height: auto;
            }
        }

        .form{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .form-title{
                .title{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 48px;
                    line-height: 120%;
                    text-align: center;
                    color: #FFFFFF;
                }

                .eslogan{
                    width: 480px;
                    height: 27px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }

            .form-inputs{
                .form{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    .error{
                        color: #ac5151;
                    }
                    div .inputs{
                        padding: 0px 10px;
                        width: 480px;
                        height: 48px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        border-radius: 3px;
                        background: #FFFFFF;
                        color: #505050;
                        border: 1px solid #FFFFFF;
                    }
                    .submit{
                        width: 480px;
                        height: 48px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        color: #FFFFFF;
                        background: #7D42AC;
                        border: 1px solid #7D42AC;
                    }

                    .submit:hover{
                        background: #733ba1;
                        cursor:pointer;
                    }

                    .submit:active{
                        background: #4e286d;
                        cursor:pointer;
                    }
                }
            }

            .separador{
                width: 500px;
                height: 0px;
                margin: 16px 0px;
                border: 1px solid #FFFFFF;
            }

            .singIn{
                p {
                    color: #FFFFFF;
                }
                .link-singIn{
                    color:#FFFFFF;
                }
                .link-singIn:hover{
                    color:#7d7d7d;
                    text-decoration: none;
                }
            }
        }

        .copyright{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 592px;
            height: 72px;

            .copyright-text{
                color: #FFFFFF;
            }
        }
    }

    @media(max-width: 550px){
        .login{
            width: 100%
        }
    }
}